# Using EcoFOCIpy to process raw field data

## Cruise ID - DY2209

## BTL Data + Nutrient Data

This is a streamlined version of generation routines to merge bottle data and Mordy Nut. Lab Nutrient Data for long term archive

In [1]:
import yaml
import glob
import pandas as pd

import EcoFOCIpy.io.sbe_ctd_parser as sbe_ctd_parser #<- instrument specific
import EcoFOCIpy.io.ncCFsave as ncCFsave
import EcoFOCIpy.metaconfig.load_config as load_config

In [2]:
sample_data_dir = '/Users/bell/ecoraid/2022/CTDcasts/DY2209/' #root path to cruise directory
ecofocipy_dir = '/Users/bell/Programs/EcoFOCIpy/'

In [3]:
###############################################################
# edit to point to {cruise sepcific} raw datafiles 
datafile = sample_data_dir+'rawconverted/' #<- point to cruise and process all files within
nutdatafile = sample_data_dir+'working/DiscreteNutrients/DY2209 Final Nutrient Data.csv' #<- point to cruise and process all files within
cruise_name = 'DY2209' #no hyphens
cruise_meta_file = sample_data_dir+'logs/DY2209.yaml'
inst_meta_file = sample_data_dir+'logs/FOCI_standard_CTDpNutsWOCE.yaml' #<- copy to each deployment for simplicity?
group_meta_file = ecofocipy_dir+'staticdata/institutional_meta_example.yaml'
###############################################################

#init and load data
cruise = sbe_ctd_parser.sbe_btl()
filename_list = sorted(glob.glob(datafile + '*.btl'))

cruise_data = cruise.manual_parse(filename_list)

Processing /Users/bell/ecoraid/2022/CTDcasts/DY2209/rawconverted/CTD001.btl
Processing /Users/bell/ecoraid/2022/CTDcasts/DY2209/rawconverted/CTD002.btl
Processing /Users/bell/ecoraid/2022/CTDcasts/DY2209/rawconverted/CTD003.btl
Processing /Users/bell/ecoraid/2022/CTDcasts/DY2209/rawconverted/CTD004.btl

/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:90: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:90: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:90: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:90: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])

## Load csv Nutrient File

In [4]:
nut_data = pd.read_csv(nutdatafile,delimiter=',')
nut_data

,Cruise,Cast,Niskin,PO4 (uM),PO4 Flag,Sil (uM),Sil Flag,NO3 (uM),NO3 Flag,NO2 (uM),NO2 Flag,NH4 (uM),NH4 Flag,DIN (uM),DIN Flag
0,DY2209,1,1,1.102,2,18.0,2,2.9,2,0.11,2,2.08,2,5.1,2
1,DY2209,1,2,1.026,2,10.5,2,0.7,2,0.05,2,1.09,2,1.8,2
2,DY2209,1,3,1.019,2,9.2,2,0.4,2,0.04,2,0.67,2,1.1,2
3,DY2209,1,4,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2
4,DY2209,1,5,1.002,2,9.1,2,0.4,2,0.04,2,0.64,2,1.0,2
5,DY2209,1,6,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2
6,DY2209,2,1,1.224,2,13.8,2,1.2,2,0.07,2,1.73,2,2.9,2
7,DY2209,2,2,1.097,2,13.0,2,0.8,2,0.05,2,1.36,2,2.2,2
8,DY2209,2,3,1.022,2,9.7,2,0.3,2,0.02,2,0.47,2,0.8,2
9,DY2209,2,4,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2
10,DY2209,2,5,0.997,2,9.8,2,0.3,2,0.02,2,0.41,2,0.7,2
11,DY2209,2,6,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2
12,DY2209,3,1,1.230,2,20.1,2,5.6,2,0.10,2,2.63,2,8.3,2
13,DY2209,3,2,0.730,2,9.9,2,2.8,2,0.06,2,0.86,2,3.8,2
14,DY2209,3,3,0.537,2,9.9,2,0.6,2,0.03,2,1.03,2,1.6,2
15,DY2209,3,4,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2
16,DY2209,3,5,0.575,2,9.9,2,0.6,2,0.03,2,0.99,2,1.6,2
17,DY2209,3,6,0.564,2,9.4,2,0.6,2,0.03,2,1.00,2,1.6,2
18,DY2209,3,7,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2
19,DY2209,4,1,0.848,2,14.3,2,2.7,2,0.06,2,1.46,2,4.3,2
20,DY2209,4,2,0.588,2,8.4,2,1.0,2,0.03,2,0.73,2,1.7,2
21,DY2209,4,3,0.535,2,8.5,2,0.5,2,0.02,2,0.55,2,1.1,2
22,DY2209,4,4,0.507,2,8.6,2,0.5,2,0.02,2,0.57,2,1.1,2
23,DY2209,4,5,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2
24,DY2209,4,6,0.518,2,9.1,2,0.6,2,0.02,2,0.56,2,1.2,2
25,DY2209,4,7,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2

## Merge Bottle and Nutrient Data but drop non nutrient vars?

In [5]:
keep_param = ['bottle','prdm']
drop_param = ['Cast','Cruise']
# keep_param = ['bottle','prsm']

for cast,cdata in cruise_data.items():
    try:
        matchcast = int((cast.split('.')[0]).lower().split('ctd')[-1])
        cruise_data[cast] = pd.merge(nut_data[nut_data['Cast']==matchcast],
                                     cdata.reset_index()[keep_param],
                                     right_on='bottle',left_on='Niskin'). \
                                                     set_index('bottle'). \
                                                     drop(columns=drop_param)
    except:
        continue

## Add Deployment meta information

In [7]:
#just a dictionary of dictionaries - simple
with open(cruise_meta_file) as file:
    cruise_config = yaml.full_load(file)

## Add Instrument meta information

Time, depth, lat, lon should be added regardless (always our coordinates) but for a mooring site its going to be a (1,1,1,t) dataset
The variables of interest should be read from the data file and matched to a key for naming.  That key is in the inst_config file seen below and should represent common conversion names in the raw data

In [8]:
with open(inst_meta_file) as file:
    inst_config = yaml.full_load(file)

## Add institutional meta-information

In [9]:
with open(group_meta_file) as file:
    group_config = yaml.full_load(file)

## Save CF Netcdf files

Currently stick to netcdf3 classic... but migrating to netcdf4 (default) may be no problems for most modern purposes.  Its easy enough to pass the `format` kwargs through to the netcdf api of xarray.

In [10]:
#loop over all casts and perform tasks shown above

for cast in cruise_data.keys():
    try:
        cruise_data[cast] = cruise_data[cast].rename(columns={
                            'Sil (uM)':'SI',
                            'PO4 (uM)':'PO4',
                            'NO2 (uM)':'NO2', 
                            'NO3 (uM)':'NO3',
                            'NH4 (uM)':'NH4',
                            'Sil Flag':'SI_WOCE_FLAG',
                            'PO4 Flag':'PO4_WOCE_FLAG',
                            'NO2 Flag':'NO2_WOCE_FLAG', 
                            'NO3 Flag':'NO3_WOCE_FLAG',
                            'NH4 Flag':'NH4_WOCE_FLAG',
                            'Niskin':'BTLID',
                            'prdm':'pressure',
                            'empty':'empty', #this will be ignored
                            'flag':'flag'})

        cruise_data_nc = ncCFsave.EcoFOCI_CFnc(df=cruise_data[cast], 
                                    instrument_yaml=inst_config, 
                                    operation_yaml=cruise_config,
                                    operation_type='ctd')

        cruise_data_nc.expand_dimensions(dim_names=['latitude','longitude','time'],geophys_sort=False)

        cruise_data_nc.variable_meta_data(variable_keys=list(cruise_data[cast].columns.values),drop_missing=False)
        #adding dimension meta needs to come after updating the dimension values... BUG?
        cruise_data_nc.dimension_meta_data(variable_keys=['time','latitude','longitude'])
        cruise_data_nc.temporal_geospatioal_meta_data_ctd(positiveE=False,conscastno=cast.split('.')[0])

        #add global attributes
        cruise_data_nc.deployment_meta_add(conscastno=cast.split('.')[0].upper())

        #add instituitonal global attributes
        cruise_data_nc.institution_meta_add(group_config)

        #add creation date/time - provenance data
        cruise_data_nc.provinance_meta_add()

        #provide intial qc status field
        cruise_data_nc.qc_status(qc_status='excellent') #<- options are unknown, excellent, probably good, mixed, unqcd

        cast = cast.lower().split('d')[-1].split('.')[0]
        cruise_data_nc.xarray2netcdf_save(xdf = cruise_data_nc.get_xdf(),
                                   filename=cruise_name+'c'+cast.zfill(3)+'_nut.nc',format="NETCDF3_CLASSIC")
    except:
        print(f'Skipping {cast}')

/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'hours' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})

## Next Steps

QC of data (plot parameters with other instruments)
- be sure to updated the qc_status and the history